body {
  background-color: #d8d8d8;
  height: 100vh;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 3em;
  background-color: #353535;
}

.navbar a {
  padding: 10px;
}

.navbar a img {
  height: 100%;
}

.toggle-mode {
  display: flex;
  align-items: center;
  color: white;
}

.toggle-mode span {
  margin: 0 1em;
  cursor: pointer;
}

.search-main {
  margin-top: 23vh;
  text-align: center;
}

.search-main h1 {
  font-size: 1.8em;
}

.search-main h3 {
  font-weight: normal;
}

.search-main form {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.search-main form * {
  margin: 0.3em auto;
  font-size: 1em;
}

.search-main form label {
  font-weight: bold;
}

.search-main form input[type="text"] {
  width: 600px;
  height: 1.5em;
  padding: 5px 10px;
}

.search-main form .search-button {
  height: 23px;
  width: 100px;
  padding: 8px;
  background-color: #353535;
  border-radius: 5px;
}

.search-main form .search-button input {
  background-color: #353535;
  color: white;
  border: unset;
  margin: 0;
}

.search-main form .search-button img {
  height: 25px;
  width: 25px;
  margin: 0;
}

.results {
  width: 650px;
  margin: 0 auto;
  margin-top: 4em;
  padding: 0;
}

.results div {
  margin: 0.5em;
  background-color: white;
  border-color: grey;
  border-radius: 5px;
  padding: 1em;
}

.results div h4 {
  margin: 0 0 0.5em 0;
  font-size: 1.2em;
}

.results div p {
  margin: 0;
}
